@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

*{
  text-align: center;
}

img{
  display: inline-block;
  border: 1px solid red;
}

button {
 align-items: center;
 padding: 10px 70px 10px 70px;
 border-radius: 20px;
 box-shadow: none;
 border: 1px solid black;
 transition: 0.25s ease-out;
 background-color: white;
}
button:hover {
  cursor: pointer;
  background-color: #C0C0C0 ;
  padding: 11px 72px 11px 72px;
  transition: 0.25s ease-out;
}
.buttonSP{
  margin-top: 30px;
}

.buttonSP:hover{
  background-color: #C0C0C0;
  color: white;
}
.testclass {
  background-color:black;
  height: 50px;
  width: 100%;
  padding: none;
  margin: none;
  color: white;
  font-size: 12px;
  line-height: 4;
}
h1 {
  text-align: center;
  display: inline;
  font-family: 'Sarina', cursive;
  font-size: 100px;
  text-shadow:none;
  transition: 0.5s ease-out;
  margin-bottom: 200px;
  margin-left: -20px;
  background-color: black;
}
h1:hover {
  transition: 0.35s ease-in;
  cursor: pointer;

}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.robLogo {
  height: 45px;
  width: 115px;
  margin-top: 50px;
  margin-left: 4px;
  cursor: pointer;
  filter: grayscale();
  opacity: 1;
}
.email {
  padding: 2px 8px 2px 8px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease-out;
}
.email:hover {
  font-size: 15px;
  transition: 0.3s ease-out;
  padding: 5px 9px 5px 4px;
  color: black;
}
.preView {
  height: 300px;
  width: 300px;
  cursor: pointer;
  filter: grayscale();
  transition: 0.2s ease-out;
}
.preView:hover {
  filter: none;
  transition: 0.4s ease-out;
}
.panel {
  margin-bottom: 7px;
  margin-left: -10px;
}
.subtitle {
  line-height: initial;
}
.shortDesc {
  font-size: 15px;
  font-weight: 300;
  color: #9F9F9F;
  cursor: text;
  text-shadow:none;
}
.divide {
  color: #E84D4D;
  font-weight: 400;
}
.socialLink {
  cursor: pointer;
  font-weight: 400;
  transition: 0.2s ease-out;
  padding: 2px 8px 2px 8px;
  text-decoration: underline;
}
.socialLink:hover {
  color: #6299F2;
  padding: 5px 9px 5px 9px;
  border-radius: 14px;
  transition: 0.2s ease-in;
  text-align: center;
  font-size: 15px;
}
#linkOrange:hover {
  transition: 0.2s ease-in;
}
#linkRed:hover {
  transition: 0.2s ease-in;
  color: #E84D4D;
}
p {
  transition: 0.3s ease-in;
  font-family: 'Heebo', sans-serif;
}
